<div style="max-width: 50%">

  <h1 style="text-align: center; color: #5c005c">
    <div style="font-size: 0.5em;">Welcome to</div>
    Vendex
  </h1>

  <form action="/auth/login" method="post">
    <label for="email">
      Email
      <input type="email" name="email" id="email"/>
    </label>

    <label for="password">
      Password
      <input type="password" name="password" id="password"/>
    </label>

    <input type="submit" value="Login" style="width: 100%; padding: 1em; background-color: #5c005c; color: white; font-weight: bold;"/>
  </form>

</div>
