<a href="/territoryhelper/locations?format=xlsx&congregationid=1" download class="waves-effect waves-light btn">
  Excel <i class="material-icons right">file_download</i>
</a>
<a href="/territoryhelper/locations?format=json&congregationid=1" download class="waves-effect waves-light btn">
  JSON <i class="material-icons right">file_download</i>
</a>
