<h4>Territory Helper > Import Territories</h4>
<form id="th-territory-import">
  <div class="row">
    <label for="th-territory-file">
      <p>Choose a <a target="_blank" href="https://territoryhelper.com/en/ImportExport">Territory Helper</a> territory export file to upload</p>
      <input type="file" name="file" id="th-territory-file">
    </label>
  </div>

  <div class="row">
    <button id="th-submit">Import</button>
  </div>

  <div class="progress hide">
    <div class="indeterminate"></div>
  </div>

  <div id="error-message"></div>
</form>
<script>
  const submitEl = document.getElementById('th-submit');

  submitEl.addEventListener('click', (e) => {
    e.preventDefault();

    submitEl.setAttribute('disabled', 'disabled');
    const progressEl = document.querySelector('.progress');
    const errorMessageEl = document.getElementById('error-message');
    progressEl.classList.remove('hide');

    fetch('/territoryhelper/territories', {
      body: new FormData(document.getElementById('th-territory-import')),
      method: 'POST',
      headers: new Headers({
        'congregationid': window.localStorage.getItem('congregationId'),
      }),
    })
      .then((response) => {
        progressEl.classList.add('hide');
        submitEl.removeAttribute('disabled');

        if (response.ok) {
          Materialize.toast('Territories successfully imported.', 5000);
          return;
        }

        Materialize.toast('Error importing territories.', 5000);
        return response.text().then(x => errorMessageEl.innerText);
      })
      .catch((err) => {
        submitEl.removeAttribute('disabled');

        Materialize.toast(err, 5000);
      });
  });
</script>
