<!DOCTYPE html>
<html>
<head>
  <title>VENDEX</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.js" integrity="sha256-cE3TQMhGTbaVzGQbDnLp+RpcnypFp4UXKsHMmWKeI2k="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/react-table@latest/react-table.css">
  <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.3.0/css/fabric.min.css">

  <style>
    header, main, footer {
      margin-left: 300px;
      padding: 0 20px;
    }

    @media only screen and (max-width: 992px) {
      header, main, footer {
        margin-left: 0;
        padding: 0 20px;
      }
    }

    .pad,
    .pad-left {
      padding-left: 16px;
    }

    .pad,
    .pad-right {
      padding-right: 16px;
    }

    .pad,
    .pad-bottom {
      padding-bottom: 16px;
    }

    .pad,
    .pad-top {
      padding-top: 16px;
    }
  </style>
</head>

<body>
<ul id="slide-out" class="side-nav fixed">
  <li><a href="/ui"><h3>VENDEX</h3></a></li>
  <li><a class="subheader">Alba</a></li>
  <li><a class="waves-effect" href="/ui/alba/locations">Import Locations</a></li>
  <li class="divider"></li>
  <li><a class="subheader">Territory Helper</a></li>
  <li><a class="waves-effect" href="/ui/territoryhelper/territories">Import Territories</a></li>
  <li><a class="waves-effect" href="/ui/territoryhelper/locations">Import Locations</a></li>
  <li><a class="waves-effect" href="/ui/territoryhelper/exports">Exports</a></li>
  <li class="divider"></li>
  <li class="subheader"></li>
  <li><a class="subheader">Admin</a></li>
  <li><a class="waves-effect" href="/ui/congregations">Congregations</a></li>
  <li><a class="waves-effect" href="/ui/languages">Languages</a></li>
  <li><a class="waves-effect" href="/ui/users">Users</a></li>
  <% if (env && env !== 'PROD') { %>
  <li><a class="waves-effect" href="/ui/reset">Reset</a></li>
  <% } %>
  <li class="divider"></li>
  <li><a>version <%= version %></a></li>
</ul>
<main>
  <%- body %>
</main>

<script>
  $(document).ready(function () {
    $('select').material_select();
  });
</script>
</body>
</html>
