<!DOCTYPE html>
<html style="height: 100%">
<head>
  <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.3.0/css/fabric.min.css">
  <link rel="stylesheet" href="https://unpkg.com/react-table@latest/react-table.css">

  <title>VENDEX</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body class="ms-Fabric ms-normalize ms-bgColor-neutralLighter" style="height: 100%">
  <div id="react-page" class="ms-font-m-plus" style="height: 100%"></div>
</body>
<script type="application/ecmascript">window.vendexBootstrap = <%- JSON.stringify(reactViewProps) %></script>
<script src="/assets/react/views/vendor.js"></script>
<script async src="/assets/react/views/<%= componentName %>.js"></script>
</html>
