<h4>Alba > Import Locations</h4>
<div class="collection">
  <div class="collection-item">
    <span class="new badge"></span>
    Setup relationships with other congregations by
    <a href="/ui/congregations">adding</a> the congregation, then <a href="/ui/congregations/1">edit this one</a> to link them.
    You can only import locations for congregations with whom you've setup an agreement.
  </div>
</div>
<form id="alba-location-import">
  <label for="alba-export-tsv">
    Paste ALBA location export:
    <textarea id="alba-export-tsv"></textarea>
  </label>

  <button id="alba-submit">Submit</button>

  <div class="progress hide">
    <div class="indeterminate"></div>
  </div>

  <div id="error-message"></div>
</form>
<script>
  const submitEl = document.getElementById('alba-submit');

  submitEl.addEventListener('click', (e) => {
    e.preventDefault();

    submitEl.setAttribute('disabled', 'disabled');
    const progressEl = document.querySelector('.progress');
    const errorMessageEl = document.getElementById('error-message');

    progressEl.classList.remove('hide');

    const body = document.getElementById('alba-export-tsv').value;
    fetch('/alba/locations', {
      body,
      method: 'POST',
      headers: new Headers({
        'congregationid': 1,
        'content-type': 'text/plain',
        'content-length': body.length,
      }),
    })
      .then((response) => {
        progressEl.classList.add('hide');
        submitEl.removeAttribute('disabled');

        if (response.ok) {
          Materialize.toast('Locations successfully imported.', 5000);
          return;
        }

        Materialize.toast('Error importing locations.', 5000);
        return response.text().then(x => errorMessageEl.innerText);
      })
      .catch((err) => {
        submitEl.removeAttribute('disabled');

        Materialize.toast(err, 5000);
      });
  })
</script>
